@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <a asp-page="/literature/catalog" class="btn btn-primary">Перейти в каталог</a> *@

<NavLink href="/literature/catalog" class="btn btn-primary" Match="NavLinkMatch.All">
    Перейти в каталог
</NavLink>